
.infor-newstudent{
   
    gap: 2%;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 2rem;
}

.form-create{
    width: 100%;
    background-color: white;
}

.chon-lop{
    width: 90%;
    padding: 10px ;
    text-align: center;
    margin: 10px 0;
  }


  .witdh-input{
    width: 80%;
    margin:  auto;
  }

  .button-center{
    text-align: center;
    width: 50%;
    margin:  auto;
    padding-top: 20px;
  }