.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 5%;
    grid-template-columns: 100%;
}

.total-study {
    background-color: aquamarine;
}

.infor-exam {
    background-color: orange;
}

.item a {
    color: red;
}

.total-student{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 80%;
    margin: 0 auto;
    
}

.title-total{
    height: 30%;
    padding-top: 10px;
}

