.bgr-content{
    background-color: white;
    height: 100%;
}


.form-create{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    justify-content: space-between;
}


.width-input{
    width: 90%;
    margin: 0 auto;
}

input[type=text].input-class{
    width: 100% !important;
    border: 1px solid black;
}

.button-class{
    text-align: center;
    margin: 20px;
 }
 
