
.infor-student {
    width: 70%;
    margin: 0 auto;
    display: grid;
    gap: 2%;
    grid-template-columns: 49% 49%;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 2rem;
    margin-bottom: 20px;
}


.table-tkb{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.mr{
    margin-right: 20px;
}

