
.wrapperr{
    margin-bottom: 20px;
    margin-top: 7px;
  }
.innerr{
    width: 95%;
    margin: 0 auto;
}

.button-create{
    width: 100%;
    text-align: right;
}

.new-student{
    padding: 3px;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 5px;
}



.table-tkb {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.page-address {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    padding: 0 10px;
}

a {
    color: black;
}

.icon{
    display: flex;
    align-items: center;
  justify-content: center;
}

